*{
	margin:0px;
	padding:0px;
	nav{
	background:#ebb85d;
	margin-top:-2%;
	height:10vh;
     }
}

// .main-nav {
//     background: #2ECC71;
//     width: 100%;
//     ul {
//         padding: 0;
//         margin: 0;
//         list-style: none;
//         width: 100%;
//     }

//     li {
//         display: inline-block;
//         width: 25%;
//         text-align: center;
//     }

//     li:not(:last-child) {
//         margin-right: -4px;
//     }

//     a {
//         display: block;
//         padding: 1rem .5rem;
//         color: white;
//         &:hover {
//             background: #26A65B;
//         }
//     }
// }


// .main-nav a {
//     display: block;
//     padding: 1rem .5rem;
//     color: white;
// }

// .main-nav a:hover {
//     background: #26A65B;
// }
// li{
// 	color:red;
// }
